.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.sign-in-form input[type="text"],
.sign-in-form input[type="password"] {
  display: flex;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.sign-in-form input {
  margin-bottom: 10px;
}
.sign-in-form button {
  width: 100%;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.sign-in-form button:hover {
  background-color: #0056b3;
}
